@import './shared.scss';

header {
    position: relative; 
    z-index: 5;

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 80px;

    padding: 0 6.4%;
    box-sizing: border-box;
    background-color: #fff;

    @media(min-width: 1024px) {
        position: relative;
        padding: 0 11.46%;
    }
}

.logo {
    width: 112px;
    height: 18px;

    background-image: url(../images/logo.svg);
    background-size: 100%;
}

.nav--mobile {
    position: fixed;
    top: 80px;
    left: 100%;
    z-index: -9999;

    box-sizing: border-box;
    padding: 28px 24px;

    display: flex;
    flex-flow: column;
    align-items: center;    

    align-self: flex-end;

    height: calc(100% - 80px);
    width: 100%;
    opacity: 0;

    background-color: map-get($neutral-colors, very-dark-violet);
    background-image: url(../images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100% 220px;

    transition: width 400ms, opacity 400ms, left 400ms;

    a {
        color: map-get($neutral-colors, very-light-gray);
        font-family: 'Karla', sans-serif;
        font-size: map-get($font-sizes, nav--mobile);
        letter-spacing: 1.5px;
        line-height: 20px;
        text-transform: uppercase;
    }

    .nav--item {
        -webkit-tap-highlight-color: transparent;
        box-sizing: border-box;
        text-align: center;
        
        width: 100%;
        max-width: 330px;

        padding: 20px 0;
        background-color: transparent;
        transition: color 200ms, background-color 200ms;

        &:hover {
            color: map-get($neutral-colors, very-dark-violet);
            background-color: map-get($neutral-colors, very-light-gray);
        }
    }

    .btn-cta {
        -webkit-tap-highlight-color: transparent;
        margin-top: 12px;
        padding: 8px 0;
        width: 100%;
        max-width: 330px;
        transition: color 200ms, background-color 200ms;
    }
}

.nav--mobile__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    background-image: url(../images/icon-outline.svg);

    > div {
    transform: scale(1), rotate(0);
    width: 100%;
    height: 100%;
    background-image: url(../images/icon-hamburger.svg);
    background-size: 100%;
    }

    @media(min-width: 1024px) {
        display: none;
    }
}

@keyframes rotateCounterClockWise {
    0% {
        transform: scale(1) rotate(360deg);
    }

    25% {
        transform: scale(0.75) rotate(270deg);
    }

    50% {
        transform: scale(0.5) rotate(180deg);
    }

    75% {
        transform: scale(0.75) rotate(90deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

@keyframes rotateClockWise {
    0% {
        transform: scale(1) rotate(0);
    }

    25% {
        transform: scale(0.75) rotate(90deg);
    }

    50% {
        transform: scale(0.5) rotate(180deg);
    }

    75% {
        transform: scale(0.75) rotate(270deg);
    }

    100% {
        transform: scale(1) rotate(360deg);
    }
}

.nav--desktop {
    display: none;

    @media(min-width: 1024px) {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;

        a {
            line-height: auto;
            letter-spacing: 0.9px;
            font-family: 'Karla', sans-serif;
            text-transform: uppercase;
            font-size: map-get($font-sizes, footer-menu--mobile);
            font-weight: 700;
            color: map-get($neutral-colors, dark-grayish-violet);


            margin-left: 24px;

            &:first-child {
                margin-left: 0;
            }
        }

        .nav--item {
            transition: color 200ms;
            &:hover {
                color: map-get($neutral-colors, very-dark-violet);
            }

            &:active {
                color: map-get($neutral-colors, dark-grayish-violet);
            }
        }

        .btn-cta {
            box-sizing: border-box;
            border: 2px solid map-get($neutral-colors, dark-grayish-violet);
            margin: 0 0 0 32px;
        }
    }
}